

    h1 a {
        color: #FCA205;
        font-family: 'Lobster';
    }

   .page-header {
        background-color: #ff9400;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10 px;
    }

    .image {
    content:url('/static/images/pidgeon.png');
    position: absolute;
    right: 470px;
    top: 70px;
     }

     .link{
     position:absolute;
     right: 100px;
     top: 70px;
     }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

   .body {
    background-color: green;
    background-repeat: no-repeat;
    background-size: 100%;
   }

    .content {
        margin-left: 40px;
        margin-right: 40px;
        background-color : white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10 px;
    }

    h1, h2, h3, h4 {
        font-family: 'Lobster', cursive;
    }

    .date {
        float: right;
        color: #828282;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: auto;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
        border-bottom: tsolid 1px black;


    }

    .post h1 a, .post h1 a:visited {
        color: #000000;
    }






